<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Flask service for audioCAPTCHA generation" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:site_name" content="audioCAPTCHA" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="audioCAPTCHA" />
    <meta property="og:description" content="Flask service for audioCAPTCHA generation" />
    <title>audioCAPTCHA</title>
  </head>
  <body>
    <h1>Flask service for audioCAPTCHA generation</h1>
  </body>
</html>
